aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
blinker==1.6.2
boto3==1.26.138
botocore==1.29.138
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
contourpy==1.0.7
cryptography==41.0.1
cycler==0.11.0
deprecation==2.1.0
deskew==1.4.3
Flask==2.3.2
fonttools==4.39.4
frozenlist==1.3.3
idna==3.4
imageio==2.31.0
img2pdf==0.4.4
iniconfig==2.0.0
itsdangerous==2.1.2
jdeskew==0.2.1
Jinja2==3.1.2
jmespath==1.0.1
kiwisolver==1.4.4
lazy_loader==0.2
lxml==4.9.2
MarkupSafe==2.1.3
marshmallow==3.19.0
matplotlib==3.7.1
moto==4.1.11
multidict==6.0.4
networkx==3.1
numpy==1.24.3
openai==0.27.8
opencv-python==4.7.0.72
opencv-python-headless==4.7.0.72
packaging==23.1
pandas==2.0.2
pdf2image==1.16.3
pikepdf==7.2.0
Pillow==9.5.0
pluggy @ file:///Users/ec2-user/ci_py311/pluggy_1678315400971/work
pycparser==2.21
pyparsing==3.0.9
pytesseract==0.3.10
pytest @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_bcnsxh_kaf/croot/pytest_1684171610545/work
python-dateutil==2.8.2
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
requests==2.31.0
responses==0.23.1
s3transfer==0.6.1
scikit-image==0.21.0
scipy==1.10.1
six==1.16.0
textract-trp==0.1.3
tifffile==2023.4.12
tomli @ file:///Users/ec2-user/ci_py311/tomli_1678315243316/work
tqdm==4.65.0
types-PyYAML==6.0.12.10
tzdata==2023.3
urllib3==1.26.16
Werkzeug==2.3.4
xmltodict==0.13.0
yarl==1.9.2
