blinker==1.6.2
boto3==1.26.138
botocore==1.29.138
click==8.1.3
deprecation==2.1.0
Flask==2.3.2
img2pdf==0.4.4
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
lxml==4.9.2
MarkupSafe==2.1.3
numpy==1.24.3
opencv-python==4.7.0.72
opencv-python-headless==4.7.0.72
packaging==23.1
pdf2image==1.16.3
pikepdf==7.2.0
Pillow==9.5.0
pytesseract==0.3.10
python-dateutil==2.8.2
s3transfer==0.6.1
six==1.16.0
textract-trp==0.1.3
urllib3==1.26.16
Werkzeug==2.3.4
aom
aribb24
brotli
ca-certificates
cairo
cjson
dav1d
ffmpeg
flac
fontconfig
freetype
frei0r
fribidi
gcc
gettext
ghostscript
giflib
glib
gmp
gnutls
graphite2
harfbuzz
highway
icu4c
imath
isl
jbig2dec
jpeg-turbo
jpeg-xl
lame
leptonica
libarchive
libass
libb2
libbluray
libevent
libidn
libidn2
libmpc
libnghttp2
libogg
libpng
librist
libsamplerate
libsndfile
libsodium
libsoxr
libtasn1
libtiff
libunibreak
libunistring
libvidstab
libvmaf
libvorbis
libvpx
libx11
libxau
libxcb
libxdmcp
libxext
libxrender
little-cms2
lz4
lzo
mbedtls
mpdecimal
mpfr
mpg123
nettle
nspr
nss
numpy
openblas
opencore-amr
openexr
openjpeg
openssl@1.1
openssl@3
opus
p11-kit
pango
pcre2
pixman
pkg-config
poppler
py3cairo
pybind11
python@3.11
rav1e
readline
rubberband
scipy
sdl2
snappy
speex
sqlite
srt
svt-av1
tesseract
theora
unbound
webp
wget
x264
x265
xorgproto
xvid
xz
zeromq
zimg
zstd
mactex-no-gui
