# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
boto3=1.26.138=pypi_0
botocore=1.29.138=pypi_0
bzip2=1.0.8=h1de35cc_0
ca-certificates=2023.01.10=hecd8cb5_0
jmespath=1.0.1=pypi_0
libffi=3.4.4=hecd8cb5_0
ncurses=6.4=hcec6c5f_0
openssl=1.1.1t=hca72f7f_0
pip=23.0.1=py311hecd8cb5_0
python=3.11.3=h1fd4e5f_0
python-dateutil=2.8.2=pypi_0
readline=8.2=hca72f7f_0
s3transfer=0.6.1=pypi_0
setuptools=66.0.0=py311hecd8cb5_0
six=1.16.0=pypi_0
sqlite=3.41.2=h6c40b1e_0
tk=8.6.12=h5d9f67b_0
tzdata=2023c=h04d1e81_0
urllib3=1.26.16=pypi_0
wheel=0.38.4=py311hecd8cb5_0
xz=5.4.2=h6c40b1e_0
zlib=1.2.13=h4dc903c_0
